<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-offset-1">
        <h1><%=@title = "Sign up"%></h1>
        <hr>
        <div class="form-horizontal" role="form">
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <label for="username" class="col-md-2 control-label">Username</label>
            <div class="col-md-5 col-md-offset-1">
              <%= f.text_field :username, :class => "form-control", :autofocus => true, :'data-validate' => '/check_username' %>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-md-2 control-label">Email</label>
            <div class="col-md-5 col-md-offset-1">
              <%= f.email_field :email, :class => "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-md-2 control-label">Password</label>
            <div class="col-md-5 col-md-offset-1">
              <%= f.password_field :password, :class=>"form-control"%>
            </div>
          </div>       
          
          <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
              <%= f.submit "Sign up", :class => "btn btn-primary" %>
            </div>
          </div>

          <div class="col-md-offset-3 col-md-10">
              <%= link_to('Already a member? Login.', new_user_session_path) %>
          </div>

          <%end%>
        </div>      
      </div>
    </div><!-- /.row -->
    <hr>
    <%= render "devise/shared/links" %>
  </div>
</div>
