<div id="user_info_edit" style="display:none;">
	<%= form_for(user, remote: true, :html => {:method => :put, :multipart => true}) do |f| %>
		<div class="container-fluid">

			<div class="row">
				<div class="col-md-2 col-md-offset-7">
					<%= f.submit 'Done editing', :id => 'submit_button', :class=>"btn btn-primary" %>
				</div>
			</div>

			<div class="row">
				<div  style="text-align: center">
					<%= f.file_field :avatar %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-5	">
					<%= f.hidden_field :avatar_cache %>
					<%= image_tag(user.avatar.url, :size=>"300x300", :class=>"img-circle") %>
				</div>
			</div>
			<div class="row">
				<div  style="text-align: center">
					<h1><%= f.text_field :name, class: "name", style: "text-align: center" %></h1>
				</div>
			</div>
			<div class="row">
				<div style="text-align: center">
					<p><%= f.text_field :short_bio, class: "hint", style: "text-align: center" %></p>
				</div>
			</div>
			<div class="row">
				<div style="text-align: center">
					<p class="username">@<%= user.username %></p>
				</div>
			</div>

		<% end %>
			<div class="row">
				<%= render partial: 'links/all_links_edit', locals: { links: links } %>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row">
					<div style="text-align: center">
						<div id="link-form" style="display:none;"></div>
					</div>
			</div>
			
			<div class="row">
				<div style="text-align: center">
					<%= link_to new_user_links_path, class: "fa-stack fa-lg link-to-add-new-link", remote: true do %>
						<i class="fa fa-circle-thin fa-stack-2x"></i>
						<i class="fa fa-plus fa-stack-1x"></i>
					<% end %>
				</div>
			</div>
		</div>
<div>

