<div id="user_info">

		<div class="container-fluid">

			<div class="row">
				<div style="text-align: center">
					<%= image_tag(user.avatar.url, :size=>"300x300", :class=>"img-circle") %>
				</div>
			</div>
			<div class="row">
				<div  style="text-align: center">
					<h1 class="name"><%= user.name %></h1>
				</div>
			</div>
			<div class="row">
				<div style="text-align: center">
					<p class="hint"><%= user.short_bio %></p>
				</div>
			</div>
			<div class="row">
				<div style="text-align: center">
					<p class="username">@<%= user.username %></p>
				</div>
			</div>
			<div class="row">
				<%= render partial: 'links/all_links', locals: { links: links } %>
			</div>
		</div>
</div>